<section class="panel share">
    <h2>System statuses</h2>
    <table>
        <tr>
            <td class="dot">
                <div class="pulse-container">
                    <div class="status-pulse">
                        <div class="pulse-marker green" ></div>
                        <h3>In operation</h3>
                    </div>
                </div>
            </td>
            <td class="amount">
                <h4>10 interceptors</h4>
            </td>
        </tr>

        <tr>
            <td class="dot">
                <div class="pulse-container">
                    <div class="status-pulse">
                        <div class="pulse-marker green" ></div>
                        <h3>Harvesting</h3>
                    </div>
                </div>
            </td>
            <td class="amount">
                <h4>1 ocean system</h4>
            </td>
        </tr>

        <tr>
            <td class="dot">
                <div class="pulse-container">
                    <div class="status-pulse">
                        <div class="pulse-marker blue" ></div>
                        <h3>Installed for testing</h3>
                    </div>
                </div>
            </td>
            <td class="amount">
                <h4>1 interceptor</h4>
            </td>
        </tr>

        <tr>
            <td class="dot">
                <div class="pulse-container">
                    <div class="status-pulse">
                        <div class="pulse-marker gray" ></div>
                        <h3>Planned</h3>
                    </div>
                </div>
            </td>
            <td class="amount">
                <h4>1 interceptor</h4>
            </td>
        </tr>

        <tr>
            <td class="dot">
                <div class="pulse-container">
                    <div class="status-pulse">
                        <div class="pulse-marker gray" ></div>
                        <h3>Contract signed</h3>
                    </div>
                </div>
            </td>
            <td class="amount">
                <h4>1 interceptor</h4>
            </td>
        </tr>
    </table>
</section>
