section {
    border-radius: .5rem;
    padding: 1.5rem;
    background-color: var(--trashRemovedBackground);
    box-shadow: var(--boxShadow) 0px 0px 8px;
    transition: .2s;
    /* border: 20px solid var(--lightBlue) */
}
.box-1 {
    grid-area: box-1;
}