<header>
<nav>
    <img src="src\assets\Ocean-Cleanup-Logo-Dark.png" alt="logo of The ocean cleanup">
    <ul>
        <li>
            <a href="https://theoceancleanup.com/" aria-label="back to the homepage">home</a>
        </li>
        
        <li>
            <a href="/" class="active" aria-label="dashboard">Dashboard</a>
        </li>

        <li>
            <a href="/" aria-label="our river technology">Our Technology</a>
        </li>

        <li>
            <a href="/" aria-label="the economic impact">Economic Impact</a>
        </li>

        <li>
            <a href="/" aria-label="plastic sources ">Plastic Sources</a>
        </li>
        
        <li>
            <a href="/" aria-label="donate">Donate</a>
        </li>

        <li>
            <a href="/" aria-label="sign up to newsletter">Our Newsletter</a>
        </li>
    </ul>
</nav>
 <!-- Title + Searchbar -->
 
</header>